@font-face {
    font-family: Poppins;
    src: url("assets/Poppins.ttf");
}

@font-face {
    font-family: Quicksand;
    src: url("assets/quicksand.ttf");
}

@font-face {
    font-family: Inter;
    src: url("assets/inter.ttf");
}

html, body {
    font-family: Inter, sans-serif;
    height: 100%;
    scroll-behavior: smooth;
    position: relative;
    background-image: url(assets/background.png);
}

.splash {
    height: 90%;
    position: relative;
    background-image: url("assets/splash.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-attachment: fixed;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    padding-bottom:100px;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.splash .container .splash-text {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
}

nav {
    box-shadow: 0px 0px 30px 10px rgba(154, 154, 154, 0.5);
}

.section {
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
}

p, ul {
    font-size: 15pt;
}

.sponsor-img {
    object-fit:scale-down;
    aspect-ratio: 2/1;
}

.card {
    cursor: pointer;
    height: 100%;
}

.nav-item {
    transition: 0.2s background-color;
    border-radius: 10px;
}

.nav-item:hover {
    background-color: rgb(210, 210, 210);
}

.round {
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgb(188, 188, 188);
    border: 1px solid rgb(21, 64, 121);
}

.mini-header {
    color: rgb(244, 169, 6);
    font-weight: bold;
}

.footer {
    box-shadow: 0px 0px 50px rgb(224, 224, 224);
}

.footer .section {
    padding-top: 30px;
}

.card {
    border: 1px solid rgb(21, 64, 121);
    box-shadow: 0px 0px 30px rgb(237, 237, 237);
}

iframe {
    border-radius: 10px;
    border: 1px solid rgb(21, 64, 121);
    margin-bottom: 40px;
    box-shadow: 0px 0px 30px rgb(222, 222, 222);
}

.social img {
    width: 50px;
    margin-right: 30px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    #psr_title2 {
        display:none;
    }
}